<div class="rgFsT">
  <h3>プロフィール編集画面</h3>
  <%= form_with(model: @user, local: true) do |f| %>

    <%= f.label :image %>
    <%= f.file_field :image %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <br><br>
    <%= f.submit "アカウントを更新する" %>
  <% end %>
</div>
