<!DOCTYPE html>
<html>
  <head>
    <title>InstaClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <div id="gnavi" class="collapse navbar-collapse">
          <p class="navbar-text">InstaClone</p>
          <ul class="nav navbar-nav">
            <% if logged_in? %>
              <li><%= link_to "プロフィール", user_path(current_user.id) %></li>
              <li><%= link_to "記事を投稿する", new_picture_path %></li>
              <li><%= link_to "投稿記事一覧へ", pictures_path %></li>
              <li><%= link_to "お気に入り記事一覧へ", favorites_pictures_path %></li>
              <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
            <% else %>
              <li><%= link_to "アカウント作成", new_user_path %></li>
              <li><%= link_to "ログイン", new_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <%= yield %>
  </body>
</html>
